<div class="container">
	
	<h1>About Outsider Guide</h1>
	<main class="col-md-7">
		
		<h3>What is Outsider Guide? We hear you cry!</h3>
		<p>Outsider guide is a passion project. Outsider guide is a ridiculous adventure. Outsider guide is that little piece in all of us that says balls to working in a office I want to feel small!</p>
		
		<p>Hand built by one man, this website will be a haven for those folk who never felt quite at home in a 2 bed flat in the city. We aim to get out there and inspire you to do the same. After-all, the world isn't in your mobile phone or on your laptop its out there and its free! Get that! In this day and age, something that actually costs nothing.</p>
		
		<p>Come with us as we meet folks, try cool stuff and learn a helluva lot on the way. The more the merrier so get in touch and get outside!</p>
		
		
		<p>Glenn</p>
			
			
		
	</main>
	
	<aside class="col-md-3 col-md-offset-2">
		<h2>Who we are</h2>
		
		<h4>Glenn Holland</h4>
		<p>Serial geek torn between the world outside and the world of tech. Genuine Outsider and proud</p> 
		
	</aside>
	
	
</div>