<div class="latest-articles-box clearfix">
	<div class="col-md-12 clearfix">
		<h2>Latest Articles</h3>


		<div ng-repeat="article in la.articles track by $index">
			
			
			<div ng-if="$index == 0 || article.featured" class="article-box clearfix">
				
				
				<div class="flag-box">
					
					
					<div class="flag-comments">
						<div class="flag-comments-right"></div>
						<div class="flag-comments-value">
							<div class="flag-image flag-comments-image"></div>
							{{article.comment_count || 0}}
						</div>
						<div class="flag-comments-left"></div>
					</div>
					
					<div class="flag-comments">
						<div class="flag-comments-right"></div>
						<div class="flag-comments-value">
							<a href="/categories/{{article.category_slug}}" class="flag-link">
								{{article.category_title | titlecase }}
							</a>
						</div>
						<div class="flag-comments-left"></div>
					</div>
					
					<div class="flag-comments">
						<div class="flag-comments-right"></div>
						<div class="flag-comments-value">
							<a href="/activities/{{article.activity_slug}}" class="flag-link">
								{{article.activity_title | titlecase }}
							</a>
						</div>
						<div class="flag-comments-left"></div>
					</div>

					
					<a href="" class="flag flag-featured"><div class="flag-image" style="background-image:url('images/elements/categories/featured-icon.png');"></div></a>
					
				</div>
				<a ng-href="{{'/articles/' + article.slug}}" style="display: block">
					<div class="article-box-header clearfix">
						<h6 class="article-date">
							{{article.publish_date | date:'dd-MM-yyyy'}}
						</h6>
						<h1 class="article-title">
							{{article.title | limitTo: 100}}
						</h1>
					</div>
				
					<div class="article-box-body clearfix">
					
						<div class="article-media">
							<img  lazy-image class="article-image" src="images/elements/16x9-placeholder-large.png" lazy="{{'https://s3-eu-west-1.amazonaws.com/' + la.bucket + '/cropped/' + article.filename}}" fade-in />
						</div>
						
						<h3 class="article-byline">{{article.byline}}</h3>
						
					</div>
				</a>
			</div>
			
			<div ng-if="$index > 0 && !article.featured" class="article-box-small"> 
				<a ng-href="{{'/articles/' + article.slug}}" style="display: block">				
					<div class="article-media-small">
							<img lazy-image class="article-image-small"  src="images/elements/16x9-placeholder-small.png" lazy="{{'https://s3-eu-west-1.amazonaws.com/' + la.bucket + '/cropped/' + article.filename}}"/>
			
					</div>
		
					<div class="article-head-small clearfix">
						
						<h6 class="article-date">
							{{article.publish_date | date:'dd-MM-yyyy'}}
						</h6>
						<h3 class="article-title-small">
							{{article.title | limitTo: 60}}{{article.title.length > 60 ? "..." : ""}}
						</h3>
						<h5>{{article.byline}}</h5>
						
					</div>
				</a>
			</div> 
			
		</div>

	</div>
</div>
